################################
# Ignore everything
################################
*

################################
# But keep git metadata
################################
!.gitignore
!README.md

################################
# Allow the experiment you want tracked
################################
!feb-exp/
!feb-exp/**