################################
# Ignore everything
################################
*

################################
# But keep git metadata
################################
!.gitignore
!README.md

################################
# Allow the experiment you want tracked
################################
!feb_exp/
!feb_exp/**
!april_exp/
!april_exp/**

################################
# Re-ignore junk inside allowlisted experiment dirs
################################
**/__pycache__/
*.pyc
**/.ipynb_checkpoints/